.root {
  margin: 1rem;
  background: transparent;
}
.root > * {
  margin: 1rem;
}
.MuiChip-root {
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}
.grid-container {
  margin-left: 3rem;
  margin-right: 3rem;
}
